aiogram==2.15
aiohttp==3.7.4.post0
alembic==1.7.1
async-timeout==3.0.1
attrs==21.2.0
Babel==2.9.1
certifi==2021.10.8
chardet==4.0.0
click==8.0.1
colorama==0.4.4
Flask==2.0.1
Flask-Migrate==3.1.0
Flask-SQLAlchemy==2.5.1
Flask-WTF==0.15.1
greenlet==1.1.0
idna==3.3
importlib-resources==5.2.2
itsdangerous==2.0.1
Jinja2==3.0.1
Mako==1.1.5
MarkupSafe==2.0.1
multidict==5.2.0
psycopg2==2.9.1
PySide2==5.15.2
pytz==2021.3
shiboken2==5.15.2
SQLAlchemy==1.4.22
typing-extensions==3.10.0.2
Werkzeug==2.0.1
WTForms==2.3.3
yarl==1.7.0
zipp==3.5.0
